
.landing-page {
    background-image: url(https://us.123rf.com/450wm/02irina/02irina1411/02irina141100029/33305554-vintage-floral-pattern-on-a-blue-background-.jpg?ver=6);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.salam {
    font-family: "Sacramento", cursive;
    font-size: 2rem;
}
.hero {
    font-family: "Sacramento", cursive;
}
.man-name {
    font-family: "Sacramento", cursive;
    font-size: 1.7rem;
}
.woman-name {
    font-size: 1.7rem;
    font-family: "Sacramento", cursive;
}
.icon {
    font-family: "Sacramento", cursive;
    font-size: 1.3rem;
}
.info {
    font-family: "Sacramento", cursive;
    font-size: 3.3rem;
}
.gallery-head {
    font-family: "Sacramento", cursive;
    font-size: 3.3rem;
}
.tml {
    background-image: url('https://miro.medium.com/v2/resize:fit:900/1*XM3W47Llh83R7T3CoOrYGA.jpeg');
    background-size: contain;
}